@import '@/styles/utils/mixins';

.hb-tooltip {
  @include host-styled {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 0.2em;
    vertical-align: middle;
    font-family: var(--husc__font__family);
    outline: none;
  }
  &__front {
    display: block;
    cursor: pointer;

    @include slot-styled('*') {
      position: absolute;
      transform: translateY(-50%);
    }
  }
  &__content {
    position: absolute;
    display: block;
    min-width: 250px;
    padding: 18px 16px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 1.4;
    box-shadow: 0 4px 10px 0 rgba(#000, 0.2);
    border: 1px solid #000;
    background-color: #fff;
  }
}
