@import '@/styles/utils/mixins';

.hb-event-dialog {
  &__container {
    @include scroll();
    position: relative;
    overflow: auto;
    width: calc(100% - (var(--husc__modal__margin) * 2));
    max-height: calc(
      100vh - var(--husc__modal__margin) - var(--husc__modal__margin)
    );
    border-radius: calc(var(--husc__border__radius) * 3);
    background: var(--husc__modal__background);
    &__img {
      display: block;
    }
  }
  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
  }
}
