@import "../../utils/mixins";
@import "../../utils/variables";

$hb-button__padding: map-get($variables, box, padding) !default;
$hb-button__border-width: map-get($variables, box, border-width) !default;
$hb-button__font-size: map-get($variables, box, font-size) !default;
$hb-button--inline__font-size: $hb-button__font-size - 1px !default;
$hb-button--fab__font-size: $hb-button__font-size - 2px !default;
$hb-button__border-color: map-get($variables, box, border-color) !default;
$hb-button__border-color--warning: map-get(
  $variables,
  box,
  border-color--warning
) !default;
$hb-button__border-radius: map-get($variables, box, border-radius) !default;
$hb-button__background: map-get($variables, box, background) !default;
$hb-button__background--warning: map-get(
  $variables,
  box,
  background--warning
) !default;
$hb-button__size: (
  large: 54px,
  medium: 50px,
  small: 46px,
);
$hb-button--fab__size: (
  large: 50px,
  medium: 41px,
  small: 33px,
);
$hb-button__theme: (
  primary: (
    bg: map-get($themes, primary, void),
    color: map-get($themes, primary, solid),
  ),
  secondary: (
    bg: map-get($themes, secondary, void),
    color: map-get($themes, secondary, solid),
  ),
  tertiary: (
    bg: map-get($themes, tertiary, void),
    color: map-get($themes, tertiary, solid),
  ),
  quaternary: (
    bg: map-get($themes, quaternary, void),
    color: map-get($themes, quaternary, solid),
  ),
  quinary: (
    bg: map-get($themes, quinary, void),
    color: map-get($themes, quinary, solid),
  ),
  senary: (
    bg: map-get($themes, senary, void),
    bd: map-get($variables, box, border-color),
    color: map-get($themes, senary, solid),
  ),
);
.hb-button {
  @include host-styled {
    position: relative;
    display: flex;
    font-size: $hb-button__font-size;
    padding: $hb-button__padding;
    // border: #{$hb-button__border-width} solid #{$hb-button__border-color};
    border-radius: $hb-button__border-radius;
    font-size: $hb-button__font-size;
    font-weight: 700;
    box-sizing: border-box;
    cursor: pointer;
    // &::before,
    // &::after {
    //   flex: auto;
    //   content: "";
    // }
  }
  @each $class, $value in $hb-button__theme {
    $bd: map-get($value, bd);
    $bg: map-get($value, bg);
    @include host-styled("[theme='#{$class}']") {
      @if ($bd) {
        border: 1px solid $bd;
      } @else {
        border: 1px solid $bg;
      }
      color: map-get($value, color);
      transition: background 0.2s;
      background: $bg;
    }
    @include host-styled("[theme='#{$class}']:hover") {
      background: getInteractiveColor($bg, 9%);
    }
    @include host-styled("[theme='#{$class}']:active") {
      background: getInteractiveColor($bg, 16%);
    }
  }
  @each $class, $size in $hb-button__size {
    @include host-styled(":not([type='fab'])[size='#{$class}']") {
      height: $size;
    }
  }
  @each $class, $size in $hb-button--fab__size {
    @include host-styled("[type='fab'][size='#{$class}']") {
      height: $size;
    }
  }
  // @include host-styled("[type='block']") {
  //   display: flex;
  //   font-size: $hb-button__font-size;
  // }
  @include host-styled("[type='inline']") {
    display: inline-flex;
    min-width: 96px;
    font-size: $hb-button--inline__font-size;
  }
  @include host-styled("[type='fab']") {
    display: inline-flex;
    min-width: 61px;
    font-size: $hb-button--fab__font-size;
    border-radius: 1000px;
  }
  @include host-styled("[disabled]") {
    opacity: 0.5;
    pointer-events: none;
  }
  @include host-styled(":empty") {
    .hb-button__label::before {
      content: attr(placeholder);
      opacity: 0.5;
    }
  }

  &__slot {
    // position: absolute;
    display: flex;
    align-self: center;
    // &--left {
    //   left: 0;
    // }
    // &--right {
    //   right: 0;
    // }
  }
  &__label {
    display: flex;
    align-self: center;
    margin: auto;
    font-family: map-get($variables, fonts, family);
  }
  &__spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: auto;
    border-radius: inherit;
    background: #fff;
    @include child-styled([loading]) {
      display: inline-flex;
    }
  }
}
