@import "../../utils/variables";
@import "../../utils/mixins";
.hb-transition {
  @include host-styled {
    display: none;
  }
  @include host-styled("[show]") {
    display: block;
  }
}
.hb-transition {
  @include host-styled("[type='fade']") {
    animation: hide-fade $transition__duration;
    @keyframes hide-fade {
      0% {
        display: block;
        opacity: 1;
        will-change: opacity;
      }
      100% {
        display: block;
        opacity: 0;
        will-change: unset;
      }
    }
  }

  @include host-styled("[show][type='fade']") {
    animation: show-fade $transition__duration;
    @keyframes show-fade {
      0% {
        display: block;
        opacity: 0;
        will-change: opacity;
      }
      100% {
        display: block;
        opacity: 1;
        will-change: unset;
      }
    }
  }
  @include host-styled("[type='zoom']") {
    animation: hide-zoom $transition__duration;
    @keyframes hide-zoom {
      0% {
        display: block;
        transform: scale(1);
        will-change: transform;
      }
      100% {
        display: block;
        transform: scale(0.7);
        will-change: unset;
      }
    }
  }

  @include host-styled("[show][type='zoom']") {
    animation: show-zoom $transition__duration;
    @keyframes show-zoom {
      0% {
        display: block;
        transform: scale(0.7);
        will-change: transform;
      }
      100% {
        display: block;
        transform: scale(1);
        will-change: unset;
      }
    }
  }
  @include host-styled("[type='bottom-up-height']") {
    animation: hide-bottom-up-height $transition__duration;
    transform-origin: bottom;
    @keyframes hide-bottom-up-height {
      0% {
        display: block;
        transform: scaleY(1);
        transform-origin: bottom;
        will-change: transform;
      }
      100% {
        display: block;
        transform: scaleY(0);
        transform-origin: bottom;
        will-change: unset;
      }
    }
  }

  @include host-styled("[show][type='bottom-up-height']") {
    animation: show-bottom-up-height $transition__duration;
    @keyframes show-bottom-up-height {
      0% {
        display: block;
        transform: scaleY(0);
        transform-origin: bottom;
        will-change: transform;
      }
      100% {
        display: block;
        transform: scaleY(1);
        transform-origin: bottom;
        will-change: unset;
      }
    }
  }
  @include host-styled("[type='bottom-up']") {
    animation: hide-bottom-up $transition__duration;
    transform-origin: bottom;
    @keyframes hide-bottom-up {
      0% {
        display: block;
        transform: translateY(0);
        transform-origin: bottom;
        will-change: transform;
      }
      100% {
        display: block;
        transform: translateY(100%);
        transform-origin: bottom;
        will-change: unset;
      }
    }
  }

  @include host-styled("[show][type='bottom-up']") {
    animation: show-bottom-up $transition__duration;
    @keyframes show-bottom-up {
      0% {
        display: block;
        transform: translateY(100%);
        transform-origin: bottom;
        will-change: transform;
      }
      100% {
        display: block;
        transform: translateY(0);
        transform-origin: bottom;
        will-change: unset;
      }
    }
  }
}

.hb-transition {
  @include host-styled(".visible") {
    display: block;
  }
}
