@import "../../utils/variables";
@import "../../utils/mixins";

.hb-transition {
  @include host-styled {
    display: none;
  }
  @include host-styled("[show]") {
    display: block;
  }
  @include host-styled("[type='fade']") {
    animation: hide-fade $transition__duration;
    @keyframes hide-fade {
      0% {
        display: block;
        opacity: 1;
      }
      100% {
        display: block;
        opacity: 0;
      }
    }
  }

  @include host-styled("[show][type='fade']") {
    animation: show-fade $transition__duration;
    @keyframes show-fade {
      0% {
        display: block;
        opacity: 0;
      }
      100% {
        display: block;
        opacity: 1;
      }
    }
  }
  @include host-styled("[type='zoom']") {
    animation: hide-zoom $transition__duration;
    @keyframes hide-zoom {
      0% {
        display: block;
        transform: scale(1);
      }
      100% {
        display: block;
        transform: scale(0.7);
      }
    }
  }

  @include host-styled("[show][type='zoom']") {
    animation: show-zoom $transition__duration;
    @keyframes show-zoom {
      0% {
        display: block;
        transform: scale(0.7);
      }
      100% {
        display: block;
        transform: scale(1);
      }
    }
  }

  @include host-styled(".visible") {
    display: block;
  }
}
