@import "../../utils/variables";
@import "../../utils/mixins";

$hb-dialog__padding-top: 52px !default;
$hb-dialog__padding-right: 20px !default;
$hb-dialog__padding-bottom: 24px !default;
$hb-dialog__padding-left: 20px !default;
$hb-dialog__layer__background: map-get($variables, layer, background) !default;
$hb-dialog__background: map-get($variables, box, background) !default;
$hb-dialog__border-radius: 16px !default;
// $hb-input__height: $box__height !default;
// $hb-input__padding: $box__padding !default;
// $hb-input__border-width: $box__border-width !default;
// $hb-input__font-size: $box__font-size !default;
// $hb-input__border-color: $box__border-color !default;
// $hb-input__border-color--warning: $box__border-color--warning !default;
// $hb-input__border-radius: $box__border-radius !default;
// $hb-input__background: $box__background !default;
// $hb-input__background--warning: $box__background !default;

.hb-dialog {
  @include host-styled {
    display: flex;
  }
  // @include host-styled(".show") {
  //   display: flex;
  //   pointer-events: auto;
  // }
  // @include host-styled(".hide") {
  //   display: flex;
  //   pointer-events: none;
  // }

  &__wrap {
    z-index: zIndex("팝업");
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: $hb-dialog__layer__background;
    // @include child-styled(".show") {
    //   animation: show $transition__duration;
    // }
    // @include child-styled(".hide") {
    //   animation: hide $transition__duration;
    // }
    > * {
      margin: auto;
    }
  }
  $head-margin-top: 12px;

  &__container {
    position: relative;
    min-width: 300px;
    padding: #{$hb-dialog__padding-top - $head-margin-top} $hb-dialog__padding-right
      $hb-dialog__padding-bottom $hb-dialog__padding-left;
    border-radius: $hb-dialog__border-radius;
    background: $hb-dialog__background;
    @include child-styled(".shake") {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      @keyframes shake {
        10%,
        90% {
          transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
          transform: translate3d(2px, 0, 0);
        }

        30%,
        50%,
        70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
          transform: translate3d(4px, 0, 0);
        }
      }
    }
  }
  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
  }
  &__head {
    &__icon {
      display: block;
      width: fit-content;
      margin: $head-margin-top auto 0;
    }
    &__title {
      display: block;
      margin-top: $head-margin-top;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
  }
  &__body {
    margin-top: $head-margin-top;
    &__content {
      display: block;
      overflow: auto;
      max-height: calc(100vh - 200px);
    }
  }

  &__foot {
    margin-top: 24px;
    &__button {
      &.horizon {
        display: flex;
        margin-left: -10px;
        flex-direction: row;
        @include slot-styled("*") {
          flex: 1;
          margin: 0 0 0 10px;
          border: 0;
          text-align: center;
        }
      }
      // &::slotted(*) {
      //   flex: 1;
      //   border: 0;
      //   text-align: center;
      // }
      &.vertical {
        display: block;
        @include slot-styled("*") {
          margin-top: 10px;
        }
      }
    }
    &__anchor {
      display: block;
      margin-top: 16px;
      font-size: 0;
      text-align: center;
      @include slot-styled("*") {
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #a2a4a6;
        text-decoration: underline;
      }
    }
  }
}
// .hb-dialog {
//   &__summary {
//     &::marker {
//       font-size: 0;
//     }
//   }
//   &__body {
//     position: relative;
//     margin: auto;
//     border-radius: $hb-dialog__border-radius;
//     background: $hb-dialog__background;
//   }
//   &__container {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     background: $hb-dialog__layer__background;
//     animation: dialog-open $transition__duration;
//     @keyframes dialog-open {
//       0% {
//         opacity: 0;
//       }
//       100% {
//         opacity: 1;
//       }
//     }
//   }
//   &__close-btn {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 50px;
//     height: 50px;
//     transform: translate(50%, -50%);
//   }
// }
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
