@import '@/styles/utils/mixins';
@import '@/styles/utils/variables';
// $hb-icon__size: (
//   large: 32px,
//   medium: 24px,
//   small: 18px,
//   xsmall: 16px,
// );

.hb-icon {
  @include host-styled {
    display: inline-flex;
    vertical-align: middle;
    svg {
      fill: var(--icon__color);
      > * {
        fill: var(--icon__color);
      }
    }
  }
  @each $class in $sizes {
    @include host-styled("[size='#{$class}']") {
      width: var(--icon__size__#{$class});
    }
  }
  // @each $class, $color in $hb-icon__theme {
  //   @include host-styled("[theme='#{$class}']") {
  //     fill: $color;
  //   }
  // }
  // @include host-styled("[icon^='outline']") {
  //   svg {
  //     fill: inherit;
  //     > *:first-child {
  //       fill: inherit;
  //     }
  //   }
  // }

  // @each $class, $value in $hb-button__theme {
  //   @include host-styled("[theme='#{$class}']") {
  //     $bd: map-get($value, bd);
  //     $bg: map-get($value, bg);
  //     @if ($bd) {
  //       border: 1px solid $bd;
  //     } @else {
  //       border: 1px solid $bg;
  //     }
  //     color: map-get($value, color);
  //     background: $bg;
  //   }
  // }
  &__svg {
    width: 100%;
    height: 100%;
  }
}
