@import "../../utils/variables";
@import "../../utils/mixins";

$hb-select__height: map-get($variables, box, height) !default;
$hb-select__padding: map-get($variables, box, padding) !default;
$hb-select__border-width: map-get($variables, box, border-width) !default;
$hb-select__font-size: map-get($variables, box, font-size) !default;
$hb-select__border-color: map-get($variables, box, border-color) !default;
$hb-select__border-color--warning: map-get(
  $variables,
  box,
  border-color--warning
) !default;
$hb-select__border-radius: map-get($variables, box, border-radius) !default;
$hb-select__background: map-get($variables, box, background) !default;
$hb-select__background--warning: map-get($variables, box, background) !default;
%option {
  display: flex;
  width: 100%;
  height: $hb-select__height;
  padding: $hb-select__padding;
  border: 0;
  align-items: center;
  box-sizing: border-box;
  outline: none;
  background: none;
  &[data-selected] {
    background: rgba(#000, 0.3);
  }
  &[hidden] {
    display: none;
  }
}

.hb-select {
  @include host-styled {
    display: block;
    font-size: $hb-select__font-size;
  }

  &__list {
    z-index: 1;
    position: absolute;
    display: none;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: $hb-select__border-radius;
    transition: opacity 5s;
    &:empty {
      &::after {
        content: attr(data-empty-text);
        @extend %option;
      }
    }
    &__btn {
      @extend %option;
    }
    // &::slotted(.selected) {
    //   background: rgba(#000, 0.3);
    // }
    // :host(.open) & {
    //   display: block;
    // }
    @include child-styled(".open") {
      display: block;
    }
  }
  &__option {
    @extend %option;
  }
  &__label {
    border: #{$hb-select__border-width} solid #{$hb-select__border-color};
    border-radius: $hb-select__border-radius;
  }
  // &__layer {
  //   :host(.open) & {
  //     z-index: -1;
  //     position: fixed;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //   }
  // }
}
// .hb-dialog {
//   &__summary {
//     &::marker {
//       font-size: 0;
//     }
//   }
//   &__body {
//     position: relative;
//     margin: auto;
//     border-radius: $hb-dialog__border-radius;
//     background: $hb-dialog__background;
//   }
//   &__container {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     background: $hb-dialog__layer__background;
//     animation: dialog-open 1s;
//     @keyframes dialog-open {
//       0% {
//         opacity: 0;
//       }
//       100% {
//         opacity: 1;
//       }
//     }
//   }
//   &__close-btn {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 50px;
//     height: 50px;
//     transform: translate(50%, -50%);
//   }
// }
