@import "../../utils/mixins";
// $hb-spinner__size: (
//   large: 18px,
//   medium: 16px,
//   small: 14px,
// ) !default;
$hb-spinner__theme: (
  void: var(--font__color__void),
  solid: var(--font__color__solid),
) !default;
// $hb-input__height: $box__height !default;
// $hb-input__padding: $box__padding !default;
// $hb-input__border-width: $box__border-width !default;
// $hb-input__font-size: $box__font-size !default;
// $hb-input__border-color: $box__border-color !default;
// $hb-input__border-color--warning: $box__border-color--warning !default;
// $hb-input__border-radius: $box__border-radius !default;
// $hb-input__background: $box__background !default;
// $hb-input__background--warning: $box__background !default;

.hb-spinner {
  @include host-styled {
    display: block;
    width: 20px;
    height: 20px;
  }
  // @each $class, $size in $hb-spinner__size {
  //   @include host-styled("[size='#{$class}']") {
  //     width: $size * 4;
  //     height: $size * 4;
  //   }
  // }

  &__icon {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    will-change: transform;
    @each $class, $color in $hb-spinner__theme {
      @include child-styled("[theme='#{$class}']") {
        border-color: $color transparent transparent transparent;
      }
    }
    &--inner-1 {
      animation-delay: -0.45s;
    }
    &--inner-2 {
      animation-delay: -0.3s;
    }
    &--inner-3 {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
