h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  small {
    font-size: 0.6em;
    opacity: 0.6;
  }
}