.list {
  > li {
    list-style-type: none;

    &:not(:first-child) {
      margin-top: 5px;
      padding-top: 5px;
    }
  }

  &--dot {
    > li {
      list-style-type: '▪';
      margin-left: 7px;
      padding-left: 8px;
    }
  }
}
