@import '@/styles/utils/mixins';
:host {
  .hb-footer {
    display: block;
    border-top: 1px solid var(--husc__black--200);
    font: 14px/1.4 var(--husc__font__family);
    background: var(--husc__white--50);
    padding: 45px var(--husc__layout__gutter) 60px;
    color: var(--husc__black--900);
    -webkit-font-smoothing: antialiased;

    footer {
      margin: 0 auto;
    }

    .info-list {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 15px;
      &:not(.info-list--children) {
        display: flex;
        flex-wrap: wrap;
      }
      &__item {
        box-sizing: border-box;
        &:not(.info-list__item--children) {
          flex: 0 0 170px;
          margin: 0 0 32px;
          padding: 0 10px 0 0;
        }
        &--children:not(:first-child) {
          margin: 13px 0 0;
        }
      }
      &__title {
        display: block;
        margin: 0 0 16px;
        font-size: 16px;
      }
      hb-anchor {
        display: block;
        text-decoration: none;
        color: var(--husc__black--700);
        font-size: inherit;
        font-weight: 400;
        &:not(:first-child) {
          margin-top: 18px;
        }
      }
    }
    &--mobile {
      max-width: var(--husc__layout__content-width--mobile);
    }
    &__accent {
      font-weight: 700 !important;
    }
    &__menu {
      margin: 0 0 5px;
      line-height: 18px;
    }
    &__social {
      > hb-anchor {
        display: inline-block;
        &:not(:first-child) {
          margin-left: 25px;
        }
      }
    }
    &__text {
      overflow: hidden;
      position: relative;
      margin-top: 65px;
      line-height: 17px;
      color: var(--husc__black--500);
    }
    &__title {
      margin: 0 0 15px;
      font-weight: bold;
      font-size: 16px;
      color: var(--husc__black--900);
    }
    &__address {
      margin: -6px 0 0 -19px;
      font-style: normal;
    }
    &__info {
      display: inline-block;
      margin: 6px 0 0;
      &::before {
        content: '|';
        margin: 0 8px;
      }
    }
    &__copy {
      margin: 30px 0 0;
    }

    &--desktop {
      max-width: var(--husc__layout__content-width--desktop);
      .hb-footer {
        &__routes {
          display: flex;
          justify-content: space-between;
        }
        &__menu {
          flex: 1 0 auto;
        }
        &__text {
          margin-top: 55px;
          font-size: 13px;
          line-height: 16px;
        }
        &__title {
          margin-bottom: 12px;
          font-size: 15px;
        }
        &__info {
          margin-top: 5px;
          &:nth-child(3) {
            display: block;
          }
        }
      }
      .info-list {
        font-size: inherit;
        &__item {
          &:not(&--children) {
            flex-basis: 160px;
            margin-bottom: 0;
          }
        }
        &__title {
          font-size: 15px;
        }
      }
    }
  }
}
