@import "../../utils/mixins";
@import "../../utils/variables";
// TODO css변수로 변경
// $hb-button__padding: map-get($variables, box, padding) !default;
$hb-button__size: (
  large: 54px,
  medium: 50px,
  small: 46px,
);
$hb-button--fab__size: (
  large: 50px,
  medium: 41px,
  small: 33px,
);
$hb-button__theme: (
  primary: (
    bg: map-get($themes, primary, void),
    color: map-get($themes, primary, solid),
  ),
  secondary: (
    bg: map-get($themes, secondary, void),
    color: map-get($themes, secondary, solid),
  ),
  tertiary: (
    bg: map-get($themes, tertiary, void),
    color: map-get($themes, tertiary, solid),
  ),
  quaternary: (
    bg: map-get($themes, quaternary, void),
    color: map-get($themes, quaternary, solid),
  ),
  quinary: (
    bg: map-get($themes, quinary, void),
    color: map-get($themes, quinary, solid),
  ),
  senary: (
    bg: map-get($themes, senary, void),
    bd: map-get($variables, box, border-color),
    color: map-get($themes, senary, solid),
  ),
);
.hb-button {
  @include disabled();
  @include loading();
  @include host-styled {
    display: flex;
    padding: 0 var(--box__padding);
    // border: #{$hb-button__border-width} solid #{$hb-button__border-color};
    border-radius: var(--box__border-radius);
    font-size: var(--box__font-size);
    font-weight: 700;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 1;
    // &::before,
    // &::after {
    //   flex: auto;
    //   content: "";
    // }
  }
  @each $class, $value in $hb-button__theme {
    $bd: map-get($value, bd);
    $bg: map-get($value, bg);
    @include host-styled("[theme='#{$class}']") {
      @if ($bd) {
        border: 1px solid $bd;
      } @else {
        border: 1px solid $bg;
      }
      color: map-get($value, color);
      transition: background $transition__duration,
        opacity $transition__duration;
      background: $bg;
    }
    @include host-styled("[theme='#{$class}']:hover") {
      background: getHoverColor($bg);
    }
    @include host-styled("[theme='#{$class}']:active") {
      background: getActiveColor($bg);
    }
  }
  @each $class, $size in $hb-button__size {
    @include host-styled(":not([type='fab'])[size='#{$class}']") {
      height: $size;
    }
  }
  @each $class, $size in $hb-button--fab__size {
    @include host-styled("[type='fab'][size='#{$class}']") {
      height: $size;
    }
  }
  // @include host-styled("[type='block']") {
  //   display: flex;
  //   font-size: $hb-button__font-size;
  // }
  @include host-styled("[type='inline']") {
    display: inline-flex;
    min-width: 96px;
    font-size: calc(var(--box__font-size) - 1px);
  }
  @include host-styled("[type='fab']") {
    display: inline-flex;
    min-width: 61px;
    font-size: calc(var(--box__font-size) - 2px);
    border-radius: 1000px;
  }
  @include host-styled("[type='custom']") {
    padding: 0;
  }

  // @include host-styled(":empty") {
  //   .hb-button__label::before {
  //     content: attr(placeholder);
  //     opacity: 0.5;
  //   }
  // }

  &__slot {
    // position: absolute;
    display: flex;
    align-self: center;
    // &--left {
    //   left: 0;
    // }
    // &--right {
    //   right: 0;
    // }
  }
  &__label {
    display: flex;
    align-items: center;
    margin: auto;
    font-family: map-get($variables, fonts, family);
  }
}
