@import '../../styles/loaded.scss';

.card {
  --hbc__card--border-color: var(--hb__card--border-color, var(--hb__black--200));

  padding: 20px 20px;
  background-color: #fff;
  border-radius: 20px;
  border-color: var(--hbc__card--border-color);
  border-width: 0;
  border-style: solid;

  .card-heading {
    @include text-subtitle2;
    margin-bottom: 10px;
  }

  &.card-sm {
    border-radius: 16px;
    padding: 16px 20px;
  }
  &.card-lg {
    border-radius: 24px;
    padding: 24px 20px;
  }
  &.card-form {
    border-radius: 8px;
    padding: 18px 16px;
    border-width: 0px;
  }

  &.outline {
    border-width: 1px;
  }

  &.primary {
    background-color: var(--hb__orange--50);
    border-color: var(--hb__orange--200);
  }

  &.success {
    background-color: var(--hb__green--50);
    border-color: var(--hb__green--200);
  }

  &.danger {
    background-color: var(--hb__red--50);
    border-color: var(--hb__red--200);
  }

  &.warning {
    background-color: var(--hb__yellow--50);
    border-color: var(--hb__yellow--200);
  }

  &.desc {
    background-color: var(--hb__black--100);
  }

  &.dark {
    background-color: var(--hb__black--800);
  }
}
