.hb-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  text-align: left;

  > * {
    flex-grow: 1;

    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
  }

  &__leading {
    order: -1;
    flex-grow: 0;
  }
  &__trailing {
    order: 1;
    flex-grow: 0;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &--top {
    align-items: flex-start;
  }

  &--bottom {
    align-items: flex-end;
  }

  &-label {
    font-weight: 400;
    color: var(--hb__black--600);
  }

  &-value {
    margin-left: auto;
    color: var(--hb__black--800);
  }
}
