<div class="hb-dialog">
  <div class="hb-dialog__container">
    <button class="hb-dialog__close-btn"></button>
    <div class="hb-dialog__header">header</div>
    <div class="hb-dialog__content">content</div>
    <div class="hb-dialog__footer">footer</div>
  </div>
</div>