<div class="hb-dialog__container">
  <button class="hb-dialog__close-btn" part="close-btn" id="close-btn"></button>
  <slot name="header" part="header" class="hb-dialog__header"></slot>
  <slot name="content" part="content" class="hb-dialog__content"></slot>
  <slot name="footer" part="footer" class="hb-dialog__footer"></slot>
</div>