<div class="hb-dialog__container">
  <button class="hb-dialog__close-btn" id="close-btn"></button>
  <slot name="header" class="hb-dialog__header"></slot>
  <slot name="content" class="hb-dialog__content"></slot>
  <slot name="footer" class="hb-dialog__footer"></slot>
</div>