.containers {
  font-family: var(--hbc__font__family);
  font-size: var(--hbc__font__size);
  color: var(--hbc__font__color);
  font-weight: var(--hbc__font__weight);
  line-height: var(--hbc__font__line-height);
}
