// 이거 원래 여기 있으면 안 됨.
// 대부분 helper 함수들은 맨 뒤에 있어야
.shadow {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
.shadow-sm {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.shadow-lg {
  box-shadow: 0px 18px 32px rgba(0, 0, 0, 0.2);
}

.text-subtitle1 {
  @include text-subtitle1;
}
.text-subtitle2 {
  @include text-subtitle2;
}
.text-body1 {
  @include text-body1;
}
.text-body2 {
  @include text-body2;
}
.text-caption {
  @include text-caption();
}
.text-desc {
  @include text-desc;
}

// font-color 헬퍼
.color-primary {
  color: var(--hbc__primary);
}
.color-secondary {
  color: var(--hbc__secondary);
}
.color-success {
  color: var(--hbc__success);
}
.color-danger {
  color: var(--hbc__danger);
}
.color-warning {
  color: var(--hbc__warning);
}
.color-info {
  color: var(--hbc__info);
}

// dark 폰트 색상 변경
.dark {
  color: #fff;
  .text-subtitle1 {
    color: #fff;
  }

  .text-subtitle2 {
    color: #fff;
  }

  .text-body1 {
    color: #fff;
  }

  .text-body2 {
    color: #fff;
  }

  .text-caption {
    color: #888;
  }

  .text-desc {
    color: #888;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: #fff;
  }
}
