@import "../../utils/variables";
@import "../../utils/mixins";

.hb-skeleton {
  @include host-styled {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
  &__wall {
    animation: skeleton-gradient 1.8s infinite ease-in-out;
  }
}
@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
