@import '@/styles/utils/mixins';

.hb-tab {
  @include host-styled {
    display: block;
    font-family: var(--husc__font__family);
  }
  &__header {
    display: inline-block;
    &__btns {
      display: flex;
      border: 1px solid #000;
      @include slot-styled('*') {
        padding: 20px;
        border: 0;
        font-size: inherit;
        cursor: pointer;
        background: none;
      }
    }
    &__indicator {
      position: absolute;
      width: 0;
      height: 2px;
      margin-top: -2px;
      background: #000;
      transition: width var(--husc__transition__duration--ms),
        transform var(--husc__transition__duration--ms);
    }
  }
  &__content {
    @include slot-styled('*') {
      display: none;
    }
    @include slot-styled('[active]') {
      display: block;
    }
  }
}
