// 변수, 함수등을 사용하기 위함인데, 다른방법 알면 추천 좀.
// storybook 에서는 global로 설정하면 안 됨.
// 상대경로로 설정해 주세요. (사용처에서 절대경로 못 찾음..)
@import '../../styles/loaded';

.containers {
  --hbc__size-desktop: calc(var(--hbc__width-desktop) + var(--hbc__container-margin) * 2);
  --hbc__size-medium: calc(var(--hbc__width-medium) + var(--hbc__container-margin) * 2);
  --hbc__size-mobile: calc(var(--hbc__width-mobile) + var(--hbc__container-margin) * 2);

  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 var(--hbc__container-margin);
  max-width: var(--hbc__size-mobile);

  font-family: var(--hbc__font__family);
  font-size: var(--hbc__font__size);
  color: var(--hbc__font__color);
  font-weight: var(--hbc__font__weight);
  line-height: var(--hbc__font__line-height);

  &--md {
    max-width: var(--hbc__size-medium);
  }
  &--lg {
    max-width: var(--hbc__size-desktop);
  }
}
