// 변수, 함수등을 사용하기 위함인데, 다른방법 알면 추천 좀.
// storybook 에서는 global로 설정하면 안 됨.
// 상대경로러 설정해 주세요.
@import '../../styles/loaded';

.grid {
  --grid-gutter: var(--hb__grid-gutter, var(--hbc__gutter));

  display: grid;
  grid-template-columns: auto auto;
  grid-gap: var(--grid-gutter);
  max-width: var(--hbc__width-desktop);

  @include mobile {
    grid-template-columns: auto;
  }
}

.containers-md,
.containers-sm {
  .grid {
    grid-template-columns: auto;
  }
}
