@import '@/styles/utils/mixins';

.hb-carousel {
  @include host-styled {
    display: block;
    overflow: hidden;
    font-family: var(--husc__font__family);
    white-space: nowrap;
  }
  &__wrap {
    font-size: 0;
    transition: transform var(--husc__type) var(--husc__duration);
    will-change: transform;
  }

  &__items {
    display: inline-flex;
    font-size: 16px;
    white-space: normal;
    @include slot-styled('*') {
      flex: 1;
      user-select: none;
    }
    &--fake-before {
      margin-left: -100%;
    }
  }
}
