@import '@/styles/utils/mixins';

.hb-carousel {
  @include host-styled {
    display: block;
    overflow: hidden;
    font-family: var(--husc__font__family);
    white-space: nowrap;
    touch-action: pan-x;
  }

  &__wrap {
    font-size: 0;
    transition: transform var(--type) var(--duration);
    will-change: transform;

    &--drag > * {
      pointer-events: none;
    }
  }

  &__indicate {
    display: flex;
    justify-content: center;

    &__btn {
      width: 6px;
      height: 6px;
      padding: 3px;
      box-sizing: content-box;
      cursor: pointer;
      outline: none;
      border: none;
      background: none;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: var(--husc__black--200);
      }

      &--accent {
        &::before {
          background: var(--husc__black--800);
        }
      }
    }
  }

  &__items {
    display: inline-flex;
    white-space: normal;

    @include slot-styled('*') {
      flex: 1;
      user-select: none;
    }

    &--fake-before {
      margin-left: -100%;
    }
  }
}
