@import "../utils/variables";
@import "../utils/mixins";

.hb-img {
  @include host-styled {
    position: relative;
    display: inline-block;
    font-size: 0;
  }
  &__picture {
    display: block;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
  }
  &__skeleton {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s;
    &[hidden] {
      opacity: 0;
    }
  }

  &__img {
    display: block;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
    opacity: 0;
    transition: opacity 0.3s;
    &[loaded] {
      opacity: 1;
    }
  }
}
