@import '@/styles/utils/mixins';
.hb-loading {
  @include host-styled {
    display: block;
    font-family: var(--husc__font__family);
    transition: opacity var(--husc__transition__duration--ms);
  }
  @include host-styled([loaded]) {
    opacity: 0;
  }
  @include host-styled([done]) {
    display: none;
  }
  &__wall {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--husc__border__radius);
    background: var(--background);
    &::before {
      content: '';
      $size: 120px;
      position: absolute;
      left: -$size;
      width: $size;
      height: 100%;
      background: linear-gradient(
        to right,
        transparent 0%,
        var(--background--accent) 50.52%,
        transparent 100%
      );
      opacity: 0.7;
      animation: skeleton-gradient var(--duration) cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
}
@keyframes skeleton-gradient {
  100% {
    left: 100%;
  }
}
// @keyframes skeleton-gradient {
//   0% {
//     background-color: rgba(165, 165, 165, 0.1);
//   }

//   50% {
//     background-color: rgba(165, 165, 165, 0.3);
//   }

//   100% {
//     background-color: rgba(165, 165, 165, 0.1);
//   }
// }
