@import '@/styles/utils/mixins';
.hb-footer {
  @include host-styled {
    display: block;
    font-family: var(--font__family);
    background: var(--black--900);
    --icon__color: var(--white--50);
  }
  &--mobile {
    padding: 40px 20px;
    &__anchor {
      > * {
        display: block;
        text-decoration: none;
        color: var(--white--50);
        font-size: 16px;
        line-height: 37px;
      }
    }
  }
  &--desktop {
    padding: 40px 20px;
    &__anchor {
      > * {
        color: var(--white--400);
        font-size: 15px;
        margin-right: 5px;
        text-decoration: none;
        & + * {
          content: '·';
          margin-left: 5px;
        }
      }
    }
  }
}
