@import '@/styles/utils/mixins';
.hb-footer {
  @include host-styled {
    display: block;
    font-family: var(--husc__font__family);
    background: var(--husc__black--900);
    --icon__color: var(--husc__white--50);
  }
  &__accent {
    font-weight: 700 !important;
  }
  &--mobile {
    max-width: var(--husc__layout__content-width--mobile);
    margin: auto;
    padding: 30px var(--husc__layout__gutter);
    &__menu {
      margin: 0 0 20px;
      > * {
        display: block;
        text-decoration: none;
        color: var(--husc__white--50);
        font-size: 16px;
        font-weight: 400;
        line-height: 37px;
      }
    }
    &__social {
      > * {
        & + * {
          margin-left: 32px;
        }
      }
    }
    &__text {
      margin-top: 40px;
      color: #fff;
      font-size: 14px;
      line-height: 27px;
      opacity: 0.4;
    }
  }
  &--desktop {
    max-width: var(--husc__layout__content-width--desktop);
    margin: auto;
    padding: 40px var(--husc__layout__gutter);
    &__routes {
      display: flex;
    }
    &__menu {
      > * {
        color: var(--husc__white--400);
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        & + * {
          margin-left: 21px;
          &::before {
            content: '·';
            position: absolute;
            pointer-events: none;
            margin-left: -11px;
          }
        }
      }
    }
    &__social {
      margin-left: auto;
      > * {
        & + * {
          margin-left: 20px;
        }
      }
    }
    &__text {
      margin-top: 24px;
      > * {
        margin: 0;
        color: #fff;
        font-size: 14px;
        line-height: 27px;
        opacity: 0.4;
        & + {
          margin-top: 20px;
        }
      }
    }
  }
}
