@import '@/styles/utils/mixins';
.hb-header {
  @include host-styled {
    display: block;
    font-family: var(--husc__font__family);
  }
  &__chip {
    position: absolute;
    top: 50%;
    height: 15px;
    margin-left: 4px;
    padding: 4px 5px;
    border-radius: 6px;
    transform: translateY(-50%);
    background: var(--background);
  }
  &__group-menu {
    display: none;
    .open & {
      display: block;
    }
    &__item {
      z-index: 2;
      position: relative;
      text-decoration: none;
      &:hover {
        background-color: #f2f4f6 !important;
      }
    }
  }
  &--desktop {
    position: relative;
    max-width: var(--husc__layout__content-width--desktop);
    margin: auto;
    padding: 0 var(--husc__layout__gutter);
    .hb-header__group-menu {
      z-index: 10;
      position: absolute;
      top: 30px;
      min-width: 200px;
      padding: 12px 10px;
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        top: -30px;
      }
      &__item {
        z-index: 2;
        position: relative;
        text-decoration: none;
        &:hover {
          background-color: #f2f4f6;
        }
        display: block;
        padding: 12.5px 10px;
        border-radius: 4px;
      }
      strong {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #323436;
      }
      p {
        margin: 4px 0 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #a2a4a6;
      }

      &__layer {
        z-index: -1;
        position: absolute;
        inset: 0;
        border: 1px solid #e2e4e6;
        box-shadow: 0 4px 10px #0000000f;
        border-radius: 10px;
        background: #fff;
        &::before {
          content: '';
          position: absolute;
          top: -8px;
          left: 30px;
          border-bottom: 10px solid #fff;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
        }
      }
      &__tip {
        z-index: -2;
        position: absolute;
        top: -5px;
        left: 32px;
        width: 16px;
        height: 16px;
        border: 1px solid #e2e4e6;
        box-shadow: 0 4px 10px #0000000f;
        transform: rotate(45deg);
      }
    }
    .hb-header__chip {
      position: static;
      height: 13px;
      transform: none;
    }
    &__navibar {
      position: relative;
      display: flex;
      height: var(--husc__header__height--desktop);
      align-items: center;
      justify-content: space-between;

      &__routes {
        display: flex;
        > .hb-anchor {
          position: relative;
          display: flex;
          margin-right: 40px;
          text-decoration: none;
          font-size: 16px;
          font-weight: 600;
          align-items: center;
          color: var(--husc__black--800);
          &:first-child {
            margin-right: 65px;
          }

          &:last-of-type {
            margin-right: 0;
          }
          &.active {
            color: var(--husc__orange--500);
          }
        }
      }
      &__actions {
        &__btns {
          display: flex;
          gap: 30px;
          hb-button {
            min-width: 70px;
          }
        }
        &__hamburber {
          margin-right: -20px;
          padding: 20px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
    &__side-menu {
      position: absolute;
      top: 77px;
      right: 20px;
      width: 270px;
      &::after {
        content: '';
        position: absolute;
        inset: -10px;
      }
      // &::before {
      //   content: '';
      //   z-index: -1;
      //   position: fixed;
      //   inset: 0;
      // }
      &__content {
        padding: 30px 24px 24px;
        border: 1px solid var(--husc__black--300);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
        border-radius: calc(var(--husc__border__radius) * 3);
        background: var(--husc__white--50);
        &__my {
          strong {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
          }
          p {
            margin: 5px 0 30px;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: var(--husc__black--300);
          }
        }
        &__menu {
          hb-button {
            & + hb-button {
              margin-top: 10px;
            }
          }
        }
        &__auth {
          display: flex;
          width: fit-content;
          margin: 20px auto 0;
          .hb-anchor {
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: var(--husc__black--400);
            & + .hb-anchor {
              margin-left: 40px;
              &::before {
                position: absolute;
                pointer-events: none;
                margin-left: -20px;
                content: '|';
              }
            }
          }
        }
      }
    }
  }
  &--mobile {
    max-width: var(--husc__layout__content-width--mobile);
    margin: auto;
    padding: 0 var(--husc__layout__gutter);
    &__navibar {
      position: relative;
      display: flex;
      height: var(--husc__header__height--mobile);
      align-items: center;
      .hb-button {
        position: absolute;
        right: 0;
      }
    }
    &__side-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.4;
        background: var(--husc__black--800);
      }

      &__content {
        width: 270px;
        height: 100vh;
        margin-left: auto;
        background: var(--husc__white--50);
        &__my {
          min-height: 190px;
          padding: 20px;

          strong {
            font-size: 18px;
            font-weight: bold;
            color: var(--husc__black--800);
          }
          p {
            margin: 5px 0 30px;
            font-size: 14px;
            color: var(--husc__black--300);
          }
          .hb-button {
            & + .hb-button {
              margin-top: 10px;
            }
          }
          &__btns {
            margin-top: 20px;
          }
        }
        &__menu {
          margin-top: 10px;
          padding: 16px 20px;
          border-top: 1px solid var(--husc__black--300);
          > .hb-anchor {
            position: relative;
            display: block;
            min-height: 54px;
            text-decoration: none;
            line-height: 54px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            color: var(--husc__black--800);
            &::before {
              content: '';
              position: absolute;
              inset: 0;
            }
            hb-icon {
              position: absolute;
              right: 0;
              top: 16px;
            }
          }
          .hb-header__group-menu {
            &__item {
              z-index: 2;
              position: relative;
              text-decoration: none;
              display: block;
              padding: 17px 16px;
              border-radius: 8px;
              background-color: #f2f4f6;
              & + * {
                margin-top: 10px;
              }
            }
            strong {
              font-weight: 700;
              font-size: 15px;
              line-height: 17px;
              color: #323436;
            }
            p {
              margin: 3px 0 0;
              font-weight: 400;
              font-size: 13px;
              color: #a2a4a6;
            }
          }
        }
        &__auth {
          padding: 16px 20px;
          border-top: 1px solid var(--husc__black--300);
          .hb-anchor {
            display: block;
            height: 40px;
            text-decoration: none;
            line-height: 40px;
            font-weight: 400;
            font-size: 14px;
            color: var(--husc__black--400);
          }
        }
      }
    }
  }
}
