@import '@/styles/utils/mixins';
.hb-header {
  @include host-styled {
    font-family: var(--font__family);
  }
  &--desktop {
    &__navibar {
      position: relative;
      display: flex;
      width: 100%;
      height: var(--header__height--mobile);
      align-items: center;
      hb-anchor {
        margin-right: 40px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: var(--black--800);
        &:first-of-type {
          margin-right: 65px;
        }
        &:last-of-type {
          margin-right: 0;
        }
        &.active {
          color: var(--orange--500);
        }
      }
      > *:last-child {
        z-index: 2;
        position: absolute;
        right: 0;
      }
    }
    &__side-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 300px;
      &__content {
        border: 1px solid #000;
        background: var(--white--50);
      }
    }
  }
  &--mobile {
    &__navibar {
      position: relative;
      hb-button {
        z-index: 2;
        position: absolute;
        right: 0;
      }
    }
    &__side-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.4;
        background: var(--black--800);
      }

      &__content {
        width: 270px;
        height: 100vh;
        margin-left: auto;
        padding: 20px;
        background: var(--white--50);
        &__my {
          strong {
            font-size: 18px;
            font-weight: bold;
            color: var(--black--800);
          }
          p {
            font-size: 14px;
            color: var(--black--300);
          }
        }
      }
    }
  }
}
