@import "../variables";
@import "../mixins";

// $hb-dialog__layer__background: $layer__background !default;
// $hb-dialog__background: $box__background !default;
// $hb-dialog__border-radius: $box__border-radius !default;
$hb-select__height: $box__height !default;
$hb-select__padding: $box__padding !default;
$hb-select__border-width: $box__border-width !default;
$hb-select__font-size: $box__font-size !default;
$hb-select__border-color: $box__border-color !default;
$hb-select__border-color--warning: $box__border-color--warning !default;
$hb-select__border-radius: $box__border-radius !default;
$hb-select__background: $box__background !default;
$hb-select__background--warning: $box__background !default;
%option {
  display: flex;
  width: 100%;
  height: $hb-select__height;
  padding: $hb-select__padding;
  border: 0;
  align-items: center;
  box-sizing: border-box;
  outline: none;
  background: none;
}
@include host-styled {
  display: block;
  font-size: $hb-select__font-size;
}
.hb-select {
  // &__input {
  //   display: none;
  // }

  &__list {
    z-index: 1;
    position: fixed;
    display: none;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: $hb-select__border-radius;
    transition: opacity 5s;
    &::slotted(*) {
      @extend %option;
    }
    :host(.open) & {
      display: block;
    }
  }
  &__option {
    @extend %option;
  }
  &__label {
    border: #{$hb-select__border-width} solid #{$hb-select__border-color};
    border-radius: $hb-select__border-radius;
    &::before {
      content: attr(data-label);
    }
  }
  &__layer {
    :host(.open) & {
      z-index: -1;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
// .hb-dialog {
//   &__summary {
//     &::marker {
//       font-size: 0;
//     }
//   }
//   &__body {
//     position: relative;
//     margin: auto;
//     border-radius: $hb-dialog__border-radius;
//     background: $hb-dialog__background;
//   }
//   &__container {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     background: $hb-dialog__layer__background;
//     animation: dialog-open 1s;
//     @keyframes dialog-open {
//       0% {
//         opacity: 0;
//       }
//       100% {
//         opacity: 1;
//       }
//     }
//   }
//   &__close-btn {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 50px;
//     height: 50px;
//     transform: translate(50%, -50%);
//   }
// }
