@mixin host-styled($selector: '*') {
  @if ($selector == '*') {
    @at-root :host {
      @content;
    }
    @content;
  } @else {
    @at-root :host(#{$selector}) {
      @content;
    }
    &#{$selector} {
      @content;
    }
  }
}
@mixin child-styled($selector) {
  :host(#{$selector}) &,
  #{$selector} & {
    @content;
  }
}
@mixin slot-styled($selector) {
  &::slotted(#{$selector}) {
    @content;
  }
  > #{$selector} {
    @content;
  }
}
// @keyframes hb-styled {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
@function zIndex($name) {
  @if $name == '레이어' {
    @return 10;
  }
  @if $name == '헤더' {
    @return 100;
  }
  @if $name == '팝업' {
    @return 1000;
  }
  @if $name == '토스트' {
    @return 10000;
  }
}
// @function toHSL($color, $level: "") {
//   $lightness: $level + "%";
//   @if $level == "" {
//     $lightness: lightness($color);
//   }
//   @return hue($color), saturation($color), #{$lightness};
// }

// @function getInteractiveColor($color, $amount) {
//   @if (lightness($color) > 50) {
//     @return lighten($color, $amount);
//   } @else {
//     @return darken($color, $amount);
//   }
// }
// @function getInteractiveRevertColor($color, $amount) {
//   @if (lightness($color) < 50) {
//     @return lighten($color, $amount);
//   } @else {
//     @return darken($color, $amount);
//   }
// }
@mixin disabled() {
  @include host-styled('[disabled]:not([loading])') {
    cursor: not-allowed;
  }
}
@mixin loading() {
  @include host-styled('[loading]') {
    cursor: progress;
  }
}
// @function getHoverColor($color) {
//   @return getInteractiveColor($color, 10);
// }
// @function getActiveColor($color) {
//   @return getInteractiveRevertColor($color, 5);
// }
// @function getLevel($level, $amount: 1) {
//   $result: $level + (100 * $amount);
//   @if ($result > 900) {
//     @return 900;
//   }
//   @if ($result < 50) {
//     @return 50;
//   }
//   @return floor($result / 100) * 100;
// }
// @function getDefaultLevel($color) {
//   @if ($color == "primary") {
//     @return 700;
//   }
//   @if ($color == "secondary") {
//     @return 800;
//   }
//   @if ($color == "tertiary") {
//     @return 100;
//   }
//   @return 700;
// }
// @function getHoverColor($color, $level, $amount: -2) {
//   @return var(--#{$color}__#{getLevel($level, $amount)});
// }
// @function getActiveColor($color, $level, $amount: 1) {
//   @return var(--#{$color}__#{getLevel($level, $amount)});
// }

// @mixin initial($selector) {
//   #{$selector} {
//     font-family: $font-family;
//     &:not([data-hb-styled]) {
//       visibility: hidden;
//     }
//   }
//   $class: "." + #{$selector};
//   #{$class} {
//     font-family: $font-family;
//   }
// }
