@mixin host-animation {
  @at-root :host([data-hb-styled]) {
    animation: hb-styled 0.2s;
  }
}

@mixin host-styled($selector: "*") {
  @if ($selector == "*") {
    @at-root :host {
      @content;
    }
    @content;
  } @else {
    @at-root :host(#{$selector}) {
      @content;
    }
    &#{$selector} {
      @content;
    }
  }
}
@mixin hostchild-styled($selector) {
  :host(#{$selector}) &,
  #{$selector} & {
    @content;
  }
}
@keyframes hb-styled {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
