$font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
  "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
  "Malgun Gothic", sans-serif;

$colors: (
  primary: #f05014,
  secondary: #303030,
  tertiary: blue,
  quaternary: #e04450,
  quinary: #f2f4f6,
  senary: #fff,
);
$sizes: (
  large: 1,
  medium: 0.8,
  small: 0.6,
);
$fonts: (
  solid: #292929,
  void: #fff,
);
$box: (
  height: 54px,
  padding: 0 20px,
  border-width: 1px,
  font-size: 16px,
  border-color: #e2e4e6,
  border-color--warning: red,
  border-radius: 6px,
  disabled: #cdd1d6,
  background: #fff,
  background--warning: red,
);
$modal: (
  width: 400px,
  border-radius: 16px,
  background: rgba(#000, 0.1),
);
$variables: (
  fonts: $fonts,
  box: $box,
  modal: $modal,
);
$level: 10;
$transition__duration: 0.3s;
$themes: (
  primary: (
    void: map-get($colors, primary),
    solid: map-get($fonts, void),
  ),
  secondary: (
    void: map-get($colors, secondary),
    solid: map-get($fonts, void),
  ),
  tertiary: (
    void: map-get($colors, tertiary),
    solid: map-get($fonts, solid),
  ),
  quaternary: (
    void: map-get($colors, quaternary),
    solid: map-get($fonts, void),
  ),
  quinary: (
    void: map-get($colors, quinary),
    solid: map-get($fonts, solid),
  ),
  senary: (
    void: map-get($colors, senary),
    solid: map-get($fonts, solid),
  ),
);
