$variables: (
  positive--color: blue,
  warning--color: red,
  font--1: #000,
  font--2: #333,
  font--3: #555,
  box__height: 50px,
  box__padding: 5px 10px,
  box__border-width: 1px,
  box__font-size: 15px,
  box__border-color: #333,
  box__border-color--warning: red,
  box__border-radius: 12px,
  box__background: #fff,
  layer__background: rgba(#000, 0.1),
  close-btn__size: 20px,
  close-btn__border-radius: 12px,
);
