@import '@/styles/utils/mixins';

.hb-anchor {
  @include initial(hb-anchor);
  @include disabled();
  @include host-styled {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #a2a4a6;
    cursor: pointer;
    text-decoration: underline;
  }
}
