@import '@/styles/utils/mixins';
@import '@/styles/utils/variables';
// $hb-spinner__size: (
//   large: 32px,
//   medium: 24px,
//   small: 18px,
//   xsmall: 16px,
// );
// $hb-input__height: $box__height !default;
// $hb-input__padding: $box__padding !default;
// $hb-input__border-width: $box__border-width !default;
// $hb-input__font-size: $box__font-size !default;
// $hb-input__border-color: $box__border-color !default;
// $hb-input__border-color--warning: $box__border-color--warning !default;
// $hb-input__border-radius: $box__border-radius !default;
// $hb-input__background: $box__background !default;
// $hb-input__background--warning: $box__background !default;

.hb-spinner {
  @include initial(hb-spinner);
  @include host-styled {
    display: inline-block;
  }

  @each $class in $sizes {
    @include host-styled("[size='#{$class}']") {
      width: var(--spinner__size__#{$class});
      height: var(--spinner__size__#{$class});
    }
  }
  &__svg {
    display: block;
    width: inherit;
    height: inherit;
    animation: rotate 2s linear infinite;

    &__circle {
      stroke: var(--spinner__color);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
