@import '@/styles/utils/mixins';
.hb-toast {
  @include host-styled {
    z-index: zindex('토스트');
    position: fixed;
    bottom: 0;
    left: var(--toast__margin);
    right: var(--toast__margin);
    display: flex;
    max-width: var(--toast__max-width);
    // max-width: calc(var(--toast__max-width) + (var(--toast__margin) * 2));
    height: 0;
    margin: auto;
    font-family: var(--font__family);
    flex-direction: column-reverse;
  }
  &__content {
    display: flex;
    min-height: calc(
      var(--toast__min-height) - var(--toast__padding__top) -
        var(--toast__padding__bottom)
    );
    padding: var(--toast__padding__top) var(--toast__padding__right)
      var(--toast__padding__bottom) var(--toast__padding__left);
    box-sizing: border-box;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #fff;
    align-items: start;
    border-radius: 8px;
    background: rgba(#292929, 0.9);
    &__text {
      flex: 1;
      white-space: pre-line;
    }
    &__icon {
      margin-top: -2px;
      margin-bottom: -2px;
      margin-right: 6px;
    }
  }
  &__position {
    will-change: margin;
    transition: margin var(--transition__duration);
    &[show] {
      margin: 10px 0 !important;
    }
    // @for $i from 1 through 10 {
    //   &:nth-last-child(#{$i}) {
    //     transform: translate(
    //       -50%,
    //       calc((30px + ($i - 1) * (var(--box__height) + 10px)) * -1)
    //     );
    //   }
    // }
  }
}
