@import '@/styles/utils/mixins';

// $hb-dialog__border-radius: 16px !default;
// $hb-input__height: $box__height !default;
// $hb-input__padding: $box__padding !default;
// $hb-input__border-width: $box__border-width !default;
// $hb-input__font-size: $box__font-size !default;
// $hb-input__border-color: $box__border-color !default;
// $hb-input__border-color--warning: $box__border-color--warning !default;
// $hb-input__border-radius: $box__border-radius !default;
// $hb-input__background: $box__background !default;
// $hb-input__background--warning: $box__background !default;

.hb-dialog {
  &__container {
    overflow-y: auto;
    position: relative;
    display: flex;

    flex-direction: column;
    max-height: calc(
      100vh - var(--husc__modal__margin) - var(--husc__modal__margin) -
        var(--husc__modal__dialog__padding-top) - var(--husc__modal__dialog__padding-bottom)
    );

    margin: var(--husc__modal__margin);
    padding: var(--husc__modal__dialog__padding-top) var(--husc__modal__dialog__padding-right)
      var(--husc__modal__dialog__padding-bottom) var(--husc__modal__dialog__padding-left);
    border-radius: calc(var(--husc__border__radius) * 4);
    background: var(--husc__modal__background);
    &.bottom-up {
      margin-bottom: 0;
    }
    &.dialog-layout {
      width: 240px;
      margin: 0;
      padding: var(--husc__modal__dialog__padding-top) var(--husc__modal__dialog__padding-right)
        var(--husc__modal__dialog__padding-bottom) var(--husc__modal__dialog__padding-left);
      .hb-dialog__head {
        margin-bottom: 0;
        &__icon {
          width: 36px;
          height: 36px;
        }
        &__title {
          font-size: 18px;
          line-height: 130%;
        }
        &__icon-title {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0 !important;
          gap: 8px;
        }
      }
      .hb-dialog__close-btn + .hb-dialog__head {
        .hb-dialog__head__icon-title {
          padding: 22px 0 0 !important;
        }
      }
      .dialog-type__content {
        margin-top: 20px;
      }
    }
    &.sheet-layout {
      width: 100vw;
      max-height: calc(
        100vh - var(--husc__modal__margin) - var(--husc__modal__margin) -
          var(--husc__modal__sheet-dialog__padding-top) -
          var(--husc__modal__sheet-dialog__padding-bottom)
      );
      margin: 0 auto;
      padding: var(--husc__modal__sheet-dialog__padding-top)
        var(--husc__modal__sheet-dialog__padding-right)
        var(--husc__modal__sheet-dialog__padding-bottom)
        var(--husc__modal__sheet-dialog__padding-left);
      box-sizing: border-box;
      border-radius: calc(var(--husc__border__radius) * 6) calc(var(--husc__border__radius) * 6) 0 0;
    }
  }
  &__close-btn {
    z-index: 2;
    position: absolute;
    top: 22px;
    right: 20px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    cursor: pointer;
    opacity: 0.3;
    background: none;
  }
  &__head {
    margin: 0 0 20px;
    text-align: var(--head-align);
    &.empty {
      margin-bottom: 0;
    }
    &__icon-title {
      display: flex;
      gap: 6px;
      padding-right: 0;
    }
    &__icon {
      width: 30px;
      height: 30px;
      margin-bottom: 0;
    }
    &__title {
      width: 100%;
      white-space: pre-wrap;
      display: block;
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.4;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__close-btn + &__head {
    .hb-dialog__head__icon-title {
      padding-right: 34px;
    }
  }
  &__caption {
    white-space: pre-wrap;
    text-align: var(--head-align);
    font-size: 18px;
    font-weight: 700;
    color: var(--hb__black--800);
    margin: 0;
  }
  .hb-dialog__head__icon-title + &__caption {
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0 0;
    color: var(--hb__black--500);
  }
  &__body {
    @include scroll();
    $margin: 10px;
    overflow: auto;
    margin-right: calc(var(--husc__modal__dialog__padding-right) * -1);
    padding-right: calc(var(--husc__modal__dialog__padding-right));
    &__content {
      display: block;
      overflow: hidden;
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      text-align: left;
      color: #36373a;
      box-sizing: border-box;
    }
  } //pnpm add -g pnpm

  &__foot {
    text-align: center;
    &__button-wrap {
      margin-top: 0;
      &:has(> *) {
        margin-top: 20px;
      }
      &.horizon {
        display: flex;
        margin-left: -10px;
        flex-direction: row;
        > * {
          flex: 1;
          margin: 0 0 0 10px;
          text-align: center;
        }
      }
      &.vertical {
        display: block;
        > * {
          margin-top: 12px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
    &__anc {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 16px;
      margin-top: 12px;
      min-height: 30px;
      font-weight: 500;
      font-size: 15px;
    }
  }
}
