@import '@/styles/utils/mixins';

// $hb-dialog__border-radius: 16px !default;
// $hb-input__height: $box__height !default;
// $hb-input__padding: $box__padding !default;
// $hb-input__border-width: $box__border-width !default;
// $hb-input__font-size: $box__font-size !default;
// $hb-input__border-color: $box__border-color !default;
// $hb-input__border-color--warning: $box__border-color--warning !default;
// $hb-input__border-radius: $box__border-radius !default;
// $hb-input__background: $box__background !default;
// $hb-input__background--warning: $box__background !default;

.hb-dialog {
  &__container {
    position: relative;
    display: flex;

    flex-direction: column;
    max-height: calc(
      100vh - var(--husc__modal__margin) - var(--husc__modal__margin) -
        var(--husc__modal__dialog__padding-top) - var(--husc__modal__dialog__padding-bottom)
    );

    margin: var(--husc__modal__margin);
    padding: var(--husc__modal__dialog__padding-top) var(--husc__modal__dialog__padding-right)
      var(--husc__modal__dialog__padding-bottom) var(--husc__modal__dialog__padding-left);
    border-radius: calc(var(--husc__border__radius) * 4);
    background: var(--husc__modal__background);
    &.bottom-up {
      margin-bottom: 0;
    }
    &.page-layout {
      width: 100vw;
      height: 100vh;
      height: 100dvh;
      max-height: none;
      margin: 0;
      padding: 60px var(--husc__modal__margin) var(--husc__modal__dialog__padding-bottom);
      box-sizing: border-box;
      border-radius: 0;
    }
    &.sheet-layout {
      width: 100vw;
      max-height: calc(
        100vh - var(--husc__modal__margin) - var(--husc__modal__margin) -
          var(--husc__modal__sheet-dialog__padding-top) -
          var(--husc__modal__sheet-dialog__padding-bottom)
      );
      margin: 0 auto;
      padding: var(--husc__modal__sheet-dialog__padding-top)
        var(--husc__modal__sheet-dialog__padding-right)
        var(--husc__modal__sheet-dialog__padding-bottom)
        var(--husc__modal__sheet-dialog__padding-left);
      box-sizing: border-box;
      border-radius: calc(var(--husc__border__radius) * 6) calc(var(--husc__border__radius) * 6) 0 0;
    }
  }
  &__close-btn {
    z-index: 2;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    cursor: pointer;
    opacity: 0.3;
    background: none;
  }
  &__head {
    margin: 0 0 20px;
    text-align: var(--head-align);
    &.empty {
      margin-bottom: 0;
    }
    &__icon {
      max-width: 60px;
      margin-bottom: 20px;
    }
    &__title {
      display: block;
      margin: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.2;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__caption {
    text-align: var(--head-align);
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 0;
  }
  .hb-dialog__head__title + &__caption {
    font-size: 14px;
    font-weight: 400;
  }
  &__body {
    @include scroll();
    $margin: 10px;
    overflow: auto;
    margin-right: calc(var(--husc__modal__dialog__padding-right) * -1);
    padding-right: calc(var(--husc__modal__dialog__padding-right));
    &__content {
      display: block;
      overflow: hidden;
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      text-align: left;
      color: #727476;
      box-sizing: border-box;
    }
  } //pnpm add -g pnpm

  &__foot {
    text-align: center;
    &__button-wrap {
      &.horizon {
        display: flex;
        margin-left: -10px;
        flex-direction: row;
        > * {
          flex: 1;
          margin: 24px 0 0 10px;
          text-align: center;
        }
      }
      &.vertical {
        display: block;
        > * {
          margin-top: 12px;
          &:first-child {
            margin-top: 20px;
          }
        }
      }
    }
    &__anc {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 16px;
      margin-top: 12px;
      min-height: 30px;
      font-weight: 500;
      font-size: 15px;
    }
  }
}
