@import "../../utils/variables";
@import "../../utils/mixins";

$hb-dialog__padding: map-get($variables, box, padding) !default;
$hb-dialog__layer__background: map-get($variables, layer, background) !default;
$hb-dialog__background: map-get($variables, box, background) !default;
$hb-dialog__border-radius: map-get($variables, box, border-radius) !default;
// $hb-input__height: $box__height !default;
// $hb-input__padding: $box__padding !default;
// $hb-input__border-width: $box__border-width !default;
// $hb-input__font-size: $box__font-size !default;
// $hb-input__border-color: $box__border-color !default;
// $hb-input__border-color--warning: $box__border-color--warning !default;
// $hb-input__border-radius: $box__border-radius !default;
// $hb-input__background: $box__background !default;
// $hb-input__background--warning: $box__background !default;

.hb-dialog {
  @include host-animation;
  @include host-styled {
    display: none;
  }
  @include host-styled(".animation") {
    display: flex;
    pointer-events: none;
  }
  @include host-styled(".open") {
    display: flex;
    pointer-events: auto;
    > * {
      animation: open 1s;
    }
  }
  &__wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: $hb-dialog__layer__background;
    animation: close 1s;
  }
  // :host(.open) & {
  //   animation: open 1s;
  // }
  &__container {
    position: relative;
    min-width: none;
    margin: auto;
    border-radius: $hb-dialog__border-radius;
    background: $hb-dialog__background;
  }
  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    padding: 0;
    border: 0;
    background: none;
  }

  &__header {
    display: block;
    padding: $hb-dialog__padding;
    padding-top: 10px;
  }
  &__content {
    display: block;
    padding: $hb-dialog__padding;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  &__footer {
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: $hb-dialog__padding;
    &::slotted(*) {
      flex: 1;

      border: 0;
      text-align: center;
    }
  }
}
// .hb-dialog {
//   &__summary {
//     &::marker {
//       font-size: 0;
//     }
//   }
//   &__body {
//     position: relative;
//     margin: auto;
//     border-radius: $hb-dialog__border-radius;
//     background: $hb-dialog__background;
//   }
//   &__container {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     background: $hb-dialog__layer__background;
//     animation: dialog-open 1s;
//     @keyframes dialog-open {
//       0% {
//         opacity: 0;
//       }
//       100% {
//         opacity: 1;
//       }
//     }
//   }
//   &__close-btn {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 50px;
//     height: 50px;
//     transform: translate(50%, -50%);
//   }
// }
@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
