@import '@/styles/utils/mixins';

.hb-select {
  @include host-styled {
    display: flex;
    border-radius: calc(var(--husc__border__radius) * 2);
    border: var(--husc__input__border__width) solid var(--husc__input__border__color);
    background: var(--husc__background__color);
  }
  &__el {
    display: flex;
    width: 100%;
    min-height: var(--husc__input__minHeight);
    max-height: var(--husc__input__maxHeight);
    align-items: center;
    color: var(--husc--black__800);
    padding: var(--husc__input__padding__top) calc(var(--husc__input__padding__right) * 3)
      var(--husc__input__padding__bottom) var(--husc__input__padding__left);
    cursor: text;
    font-size: var(--husc__input__font__size);
    font-family: var(--husc__font__family);
    box-sizing: border-box;
    border: 0;
    background: none;
    transition: border-color var(--husc__transition__duration--ms);
    appearance: none;
    &--init {
      color: var(--husc__input__font__color--placeholder);
    }
  }
  &__icon-wrap {
    width: 0;
    pointer-events: none;
    &__el {
      height: 100%;
      transform: translateX(-200%);
    }
  }
  // &__modal {
  //   :host(.open) & {
  //     z-index: -1;
  //     position: fixed;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //   }
  // }
}
// .hb-dialog {
//   &__summary {
//     &::marker {
//       font-size: 0;
//     }
//   }
//   &__body {
//     position: relative;
//     margin: auto;
//     border-radius: $hb-dialog__border-radius;
//     background: $hb-dialog__background;
//   }
//   &__container {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     background: $hb-dialog__modal__background;
//     animation: dialog-open 1s;
//     @keyframes dialog-open {
//       0% {
//         opacity: 0;
//       }
//       100% {
//         opacity: 1;
//       }
//     }
//   }
//   &__close-btn {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 50px;
//     height: 50px;
//     transform: translate(50%, -50%);
//   }
// }
