@import "../../utils/variables";
@import "../../utils/mixins";
$hb-input__height: map-get($variables, box, height) !default;
$hb-input__padding: map-get($variables, box, padding) !default;
$hb-input__border-width: map-get($variables, box, border-width) !default;
$hb-input__font-size: map-get($variables, box, font-size) !default;
$hb-input__border-color: map-get($variables, box, border-color) !default;
$hb-input__border-color--warning: map-get(
  $variables,
  box,
  border-color--warning
) !default;
$hb-input__border-radius: map-get($variables, box, border-radius) !default;
$hb-input__background: map-get($variables, box, background) !default;
$hb-input__background--warning: map-get(
  $variables,
  box,
  background--warning
) !default;
.hb-input {
  @include host-styled {
    display: flex;
    align-items: center;
    padding: $hb-input__padding;
    cursor: text;
    border: #{$hb-input__border-width} solid #{$hb-input__border-color};
    border-radius: $hb-input__border-radius;
    background: $hb-input__background;
  }
  @include host-styled([error]) {
    border-color: $hb-input__border-color--warning;
    background: $hb-input__background--warning;
  }
  &__el {
    width: 0;
    flex: 1;
    height: $hb-input__height;
    padding: 0;
    font-size: $hb-input__font-size;
    box-sizing: border-box;
    border: 0;
    outline: none;
    cursor: inherit;
    box-shadow: 0 0 0 999px #{$hb-input__background} inset;
    @include child-styled([error]) {
      box-shadow: 0 0 0 999px #{$hb-input__background--warning} inset;
    }
  }
  &__slot {
    position: relative;
    display: inline-flex;
    flex: 0;
  }
}
