@import "../../utils/variables";
@import "../../utils/mixins";
$hb-toast__height: 54px;
.hb-toast {
  @include host-styled {
    z-index: zindex("토스트");
    position: relative;
  }
  &__text-wrap {
    $padding: 16px;
    display: flex;
    width: 100%;
    min-height: $hb-toast__height - ($padding * 2);
    padding: $padding 20px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.572;
    color: #fff;
    align-items: center;
    border-radius: 8px;
    background: rgba(#292929, 0.9);
    &__text {
      flex: 1;
      white-space: pre-line;
      text-align: center;
    }
  }
  &__position {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: calc(100vw - 100px);
    transform: translateX(-50%);
    transition: transform $transition__duration;
    @for $i from 1 through 10 {
      &:nth-last-child(#{$i}) {
        transform: translate(
          -50%,
          -(30px + ($i - 1) * ($hb-toast__height + 10px))
        );
      }
    }
  }
}
