@import "../../utils/mixins";
.hb-toast {
  @include host-styled {
    z-index: zindex("토스트");
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    width: 100%;
    max-width: var(--box__width);
    height: 0;
    transform: translateX(-50%);
    flex-direction: column-reverse;
  }
  &__content {
    $padding: 16px;
    display: flex;
    margin: auto;
    min-height: calc(var(--box__height) - ($padding * 2));
    padding: $padding 20px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.572;
    color: #fff;
    align-items: start;
    border-radius: 8px;
    background: rgba(#292929, 0.9);
    &__text {
      flex: 1;
      white-space: pre-line;
    }
    &__icon {
      height: 22px;
      margin-right: 5px;
    }
  }
  &__position {
    will-change: margin;
    transition: margin var(--transition__duration);
    &[show] {
      margin: 10px 0 !important;
    }
    // @for $i from 1 through 10 {
    //   &:nth-last-child(#{$i}) {
    //     transform: translate(
    //       -50%,
    //       calc((30px + ($i - 1) * (var(--box__height) + 10px)) * -1)
    //     );
    //   }
    // }
  }
}
