@import '@/styles/utils/mixins';

.hb-img {
  @include host-styled {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
  }
  &__picture {
    &__img {
      width: 100%;
      height: 100%;
      opacity: 0;
      object-fit: contain;
      transition: opacity var(--husc__transition__duration--ms);
      &[loaded] {
        opacity: 1;
      }
    }
  }
  &__loading {
    position: absolute;
    pointer-events: none;
  }
}
