// media query 에서는 css 변수가 안 먹힘.
// media query 용으로 브레이크 포인트는 scss변수로 선언함.
$breakpoint: 1020px;

:root {
  --hbc__unit-size: 4px;
  --hbc__gutter: var(--hb__gutter, calc(var(--hbc__unit-size) * 5));

  // container 정보
  --hbc__width-desktop: var(--hb__width-desktop, 1024px);
  --hbc__width-medium: var(--hb__width-medium, 760px);
  --hbc__width-mobile: var(--hb__width-mobile, 500px);
  // --hbc__breakpoint: var(--hb__breakpoint, calc(var(--hbc__width-desktop) + (-4px)));
  --hbc__breakpoint: $breakpoint;
  --hbc__container-margin: var(--hb__container-margin, var(--hbc__gutter));

  // 기본 색상 변수 매핑
  --hbc__primary: var(--hb__primary, var(--hb__heybit));
  --hbc__secondary: var(--hb__secondary, var(--hb__black--800));
  --hbc__success: var(--hb__success, var(--hb__green--500));
  --hbc__danger: var(--hb__danger, var(--hb__red--500));
  --hbc__warning: var(--hb__warning, var(--hb__yellow--500));
  --hbc__info: var(--hb__info, var(--hb__blue--500));

  --hbc__font__faily_default: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  --hbc__font__size: var(--hb__font__size, 15px);
  --hbc__font__color: var(--hb__font__color, var(--hb__black--600));
  --hbc__font__weight: var(--hb__font__weight, 400);
  --hbc__font__line-height: var(--hb__font__line-height, 23px);

  --hbc__h1__size: var(--hb__h1__size, 36px);
  --hbc__h2__size: var(--hb__h2__size, 32px);
  --hbc__h3__size: var(--hb__h3__size, 28px);
  --hbc__h4__size: var(--hb__h4__size, 24px);
  --hbc__h5__size: var(--hb__h5__size, 20px);
  --hbc__h6__size: var(--hb__h6__size, 16px);

  //
}

// box-shadow

// text theme

// .title {
//   @extend .h4;
// }
// .subtitle1 {
//   @extend .h5;
// }
// .subtitle2 {
//   @extend .h6;
// }
// .body1 {
//   font-size: 16px;
// }
// .body2 {
//   font-size: 15px;
// }
// .caption {
//   font-size: 14px;
// }
// .overline {
//   font-size: 13px;
// }

@mixin text-subtitle1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  color: var(--hb__black--800);
}
@mixin text-subtitle2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
  color: var(--hb__black--800);
}

@mixin text-body1 {
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: var(--hb__black--600);
}
@mixin text-body2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  color: var(--hb__black--600);
}

@mixin text-caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: var(--hb__black--600);
}

@mixin text-desc {
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
  color: var(--hb__black--500);
}
