:root {
  --hbc__unit-size: 4px;
  --hbc__gutter: var(--hb__gutter, calc(var(--hbc__unit-size) * 5));

  // container 정보
  --hbc__width-desktop: var(--hb__width-desctop, 1024px);
  --hbc__width-medium: var(--hb__width-medium, 760px);
  --hbc__width-mobile: var(--hb__width-mobile, 500px);
  // --hbc__breakpoint: var(--hb__breakpoint, calc(var(--hbc__width-desktop) + (-4px)));
  --hbc__breakpoint: $breakpoint;
  --hbc__container-margin: var(--hb__container-margin, var(--hbc__gutter));

  // 기본 색상 변수 매핑
  --hbc__primary: var(--hb__primary, var(--hb__heybit--400));
  --hbc__secondary: var(--hb__secondary, var(--hb__black--800));
  --hbc__success: var(--hb__success, var(--hb__green--500));
  --hbc__error: var(--hb__error, var(--hb__red--500));
  --hbc__warning: var(--hb__warning, var(--hb__yellow--500));
  --hbc__info: var(--hb__info, var(--hb__blue--500));

  //
}

// scss-docs-start theme-color-variables
$primary: var(--husc__orange) !default;
$secondary: var(--husc__black) !default;
$success: var(--husc__green) !default;
$warning: var(--husc__yellow) !default;
$danger: var(--husc__orange) !default;
$body: var(--husc__black--600) !default;

// font
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
  monospace !default;
// stylelint-enable value-keyword-case
$font-family-base: var(--husc__font__family) !default;
$font-family-code: $font-family-monospace !default;

// font-size
$font-size-base: 15px !default;
$font-size-sm: 13px !default;
$font-size-lg: 16px !default;

// font-weight
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

// line-height
$line-height-base: 1.6 !default;

// heading
$h1-font-size: 36px !default;
$h2-font-size: 32px !default;
$h3-font-size: 28px !default;
$h4-font-size: 24px !default;
$h5-font-size: 20px !default;
$h6-font-size: 16px !default;

$heading-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

$display-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

// box-shadow

// text theme
$head-color: var(--husc__black--900) !default;
.h1 {
  font-size: 34px;
  color: $head-color;
  font-weight: 700;
}
.h2 {
  font-size: 30px;
  color: $head-color;
  font-weight: 700;
}
.h3 {
  font-size: 26px;
  color: $head-color;
  font-weight: 700;
}
.h4 {
  font-size: 22px;
  color: $head-color;
  font-weight: 700;
}
.h5 {
  font-size: 18px;
  color: $head-color;
  font-weight: 700;
}
.h6 {
  font-size: 16px;
  color: $head-color;
  font-weight: 700;
}

.title {
  @extend .h4;
}
.subtitle1 {
  @extend .h5;
}
.subtitle2 {
  @extend .h6;
}
.body1 {
  font-size: 16px;
}
.body2 {
  font-size: 15px;
}
.caption {
  font-size: 14px;
}
.overline {
  font-size: 13px;
}
