@import '@/styles/utils/mixins';

// $hb-dialog__border-radius: 16px !default;
// $hb-input__height: $box__height !default;
// $hb-input__padding: $box__padding !default;
// $hb-input__border-width: $box__border-width !default;
// $hb-input__font-size: $box__font-size !default;
// $hb-input__border-color: $box__border-color !default;
// $hb-input__border-color--warning: $box__border-color--warning !default;
// $hb-input__border-radius: $box__border-radius !default;
// $hb-input__background: $box__background !default;
// $hb-input__background--warning: $box__background !default;

.hb-dialog {
  &__container {
    position: relative;
    display: flex;

    flex-direction: column;
    max-height: calc(
      100vh - var(--husc__modal__margin) - var(--husc__modal__margin) -
        var(--husc__modal__dialog__padding-top) -
        var(--husc__modal__dialog__padding-bottom)
    );

    margin: var(--husc__modal__margin);
    padding: var(--husc__modal__dialog__padding-top)
      var(--husc__modal__dialog__padding-right)
      var(--husc__modal__dialog__padding-bottom)
      var(--husc__modal__dialog__padding-left);
    border-radius: calc(var(--husc__border__radius) * 3);
    background: var(--husc__modal__background);
    &.bottom-up {
      margin-bottom: 0;
    }
  }
  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
  }
  &__head {
    margin: 0 10px 12px;
    &.empty {
      margin-bottom: 0;
    }
    &__icon {
      display: block;
      max-width: 60px;
      margin: auto;
    }
    &__title {
      display: block;
      margin: 12px 0 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__body {
    @include scroll();
    $margin: 10px;
    overflow: auto;
    margin-left: $margin;
    margin-right: calc(var(--husc__modal__dialog__padding-right) * -1);
    padding-right: calc(var(--husc__modal__dialog__padding-right) + $margin);
    &__content {
      display: block;
      overflow: hidden;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      color: #727476;
      box-sizing: border-box;
    }
  } //pnpm add -g pnpm

  &__foot {
    text-align: center;
    &__button-wrap {
      &.horizon {
        display: flex;
        margin-left: -10px;
        flex-direction: row;
        > * {
          flex: 1;
          margin: 24px 0 0 10px;
          text-align: center;
        }
      }
      // &::slotted(*) {
      //   flex: 1;
      //   border: 0;
      //   text-align: center;
      // }
      &.vertical {
        display: block;
        > * {
          margin-top: 10px;
          &:first-child {
            margin-top: 24px;
          }
        }
      }
    }
    &__anc {
      display: inline-block;
      margin-top: 16px;
      text-align: center;
    }
  }
}
