@import '@/styles/utils/mixins';

.hb-input {
  @include host-styled {
    display: flex;
    align-items: center;
    padding: 0 var(--husc__input__padding__right) 0
      var(--husc__input__padding__left);
    cursor: text;
    font-family: var(--husc__font__family);
    border: var(--husc__input__border__width) solid
      var(--husc__input__border__color);
    border-radius: var(--husc__border__radius);
    background: var(--husc__background__color);
  }
  @include host-styled([error]) {
    border-color: var(--husc__input__border__color--error);
    // background: var(--husc__background__color);
  }
  &__el {
    width: 0;
    flex: 1;
    height: var(--husc__input__height);
    padding: 0;
    font-size: var(--husc__input__font__size);
    box-sizing: border-box;
    border: 0;
    outline: none;
    cursor: inherit;
    box-shadow: 0 0 0 999px var(--husc__background__color) inset;
    // @include child-styled([error]) {
    //   box-shadow: 0 0 0 999px #{$hb-input__background--warning} inset;
    // }
  }
  &__slot {
    position: relative;
    display: inline-flex;
    flex: 0;
  }
}
