@import '@/styles/utils/mixins';

.hb-skeleton {
  @include host-styled('[type="card"]') {
    display: grid;
    font-family: var(--husc__font__family);
    // grid-template-columns: 100px 100px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-template-rows: 100px 100px 50px;
    gap: 10px;
    > :first-child {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
  }
  @include host-styled('[type="hamburger"]') {
    display: grid;
    font-family: var(--husc__font__family);
    // grid-template-columns: 100px 100px;
    grid-template-columns: 50px;
    grid-template-rows: 30px;
  }
  @include host-styled('[type="drop-menu-top"]') {
    display: grid;
    font-family: var(--husc__font__family);
    grid-template-columns: 100%;
    grid-template-rows: 23px 84px 64px;
    > :nth-child(2) {
      margin-top: 30px;
    }
    > :nth-child(3) {
      margin-top: 10px;
    }
  }
  @include host-styled('[type="drop-menu-bottom"]') {
    display: grid;
    font-family: var(--husc__font__family);
    grid-template-columns: 100%;
    grid-template-rows: 40px 40px;
    gap: 10px;
  }
}
