$warning--color: red;

$box__height: 50px;
$box__padding: 5px 10px;
$box__border-width: 1px;
$box__font-size: 15px;
$box__border-color: #333;
$box__border-color--warning: $warning--color;
$box__border-radius: 12px;
$box__background: #fff;
