@import '@/styles/utils/mixins';
.hb-switch {
  $height: 26px;
  &__label {
    position: relative;
    display: block;
    width: 48px;
    height: $height;
    cursor: pointer;
    &--loading {
      cursor: progress;
    }
  }
  &__input {
    display: none;
  }
  &__spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
    .hb-switch__label--loading & {
      display: block;
    }
  }
  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: $height;
    transition: background-color var(--husc__transition__type) var(--husc__transition__duration--ms);
    will-change: background-color;
    background: #cdd1d6;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 4px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      border-radius: 50%;
      transition: transform var(--husc__transition__type) var(--husc__transition__duration--ms);
      will-change: transform;
      background: #fff;
    }
    &::after {
      content: '';
      pointer-events: none;
      position: absolute;
      border-radius: $height;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: opacity var(--husc__transition__type) var(--husc__transition__duration--ms);
      will-change: opacity;
      background-color: var(--husc__black);
    }
    .hb-switch__label--active & {
      background: var(--husc__orange);
      &::before {
        transform: translate(20px, -50%);
      }
    }
    .hb-switch__label--loading & {
      &::after {
        opacity: 0.2;
      }
    }
  }
}
