@import "../../utils/mixins";
$hb-icon__size: (
  large: 32px,
  medium: 24px,
  small: 18px,
  xsmall: 16px,
);

.hb-icon {
  @include host-styled {
    display: inline-flex;
    vertical-align: middle;
  }
  @each $class, $size in $hb-icon__size {
    @include host-styled("[size='#{$class}']") {
      width: #{$size};
    }
  }
  // @each $class, $color in $hb-icon__theme {
  //   @include host-styled("[theme='#{$class}']") {
  //     fill: $color;
  //   }
  // }
  @include host-styled("[theme]:not([theme=''])") {
    svg {
      fill: inherit;
      > *:first-child {
        fill: inherit;
      }
    }
  }

  // @each $class, $value in $hb-button__theme {
  //   @include host-styled("[theme='#{$class}']") {
  //     $bd: map-get($value, bd);
  //     $bg: map-get($value, bg);
  //     @if ($bd) {
  //       border: 1px solid $bd;
  //     } @else {
  //       border: 1px solid $bg;
  //     }
  //     color: map-get($value, color);
  //     background: $bg;
  //   }
  // }
  &__svg {
    width: 100%;
    height: auto;
  }
}
