@import "../../utils/_variables";
@import "../../utils/_mixins";
$hb-input__height: $box__height !default;
$hb-input__padding: $box__padding !default;
$hb-input__border-width: $box__border-width !default;
$hb-input__font-size: $box__font-size !default;
$hb-input__border-color: $box__border-color !default;
$hb-input__border-color--warning: $box__border-color--warning !default;
$hb-input__border-radius: $box__border-radius !default;
$hb-input__background: $box__background !default;
$hb-input__background--warning: $box__background !default;
.hb-input {
  @include host-animation;
  @include host-styled {
    position: relative;
    display: flex;
  }
  &__border {
    // 브라우저의 자동완성기능에 인풋의 배경색이 브라우저에서 컨트롤하게 됩니다. box-shadow 해당 속성으로만 그 색상을 덮을 수 있어서,
    // 인풋의 보더라인을 새로운 돔을 추가해서 관리합니다.
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: #{$hb-input__border-width} solid #{$hb-input__border-color};
    border-radius: $hb-input__border-radius;
    pointer-events: none;
    :host(.has-error) & {
      border-color: $hb-input__border-color--warning;
    }
  }
  &__el {
    width: 0;
    flex: 1;
    height: $hb-input__height;
    padding: $hb-input__padding;
    font-size: $hb-input__font-size;
    box-sizing: border-box;
    border: 0;
    outline: none;
    box-shadow: 0 0 0 999px #{$hb-input__background} inset;
    background: $hb-input__background;
    :host(.has-error) & {
      box-shadow: 0 0 0 999px #{$hb-input__background--warning} inset;
      background: $hb-input__background--warning;
    }
  }
  &__slot {
    position: relative;
    flex: 0;
  }
}
