@import "../../utils/variables";
@import "../../utils/mixins";

$hb-sheet-dialog__padding-top: 52px !default;
$hb-sheet-dialog__padding-right: 20px !default;
$hb-sheet-dialog__padding-bottom: 30px !default;
$hb-sheet-dialog__padding-left: 20px !default;
// $hb-sheet-dialog__border-radius: 16px !default;
// $hb-input__height: $box__height !default;
// $hb-input__padding: $box__padding !default;
// $hb-input__border-width: $box__border-width !default;
// $hb-input__font-size: $box__font-size !default;
// $hb-input__border-color: $box__border-color !default;
// $hb-input__border-color--warning: $box__border-color--warning !default;
// $hb-input__border-radius: $box__border-radius !default;
// $hb-input__background: $box__background !default;
// $hb-input__background--warning: $box__background !default;

.hb-sheet-dialog {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: calc(
      100vh - #{$hb-sheet-dialog__padding-top + $hb-sheet-dialog__padding-bottom}
    );
    padding: #{$hb-sheet-dialog__padding-top} $hb-sheet-dialog__padding-right $hb-sheet-dialog__padding-bottom
      $hb-sheet-dialog__padding-left;
    border-radius: var(--modal__border-radius);
    background: var(--box__background);
  }
  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
  }
  &__head {
    margin: 0 10px 12px;
    &:empty {
      margin-bottom: 0;
    }
    &__title {
      display: block;
      margin: 0;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      text-align: left;
    }
  }
  &__body {
    overflow: auto;
    margin: 0 10px;
    &__content {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      color: #727476;
    }
  } //pnpm add -g pnpm

  &__foot {
    text-align: center;
    &__button-wrap {
      &.horizon {
        display: flex;
        margin-left: -10px;
        flex-direction: row;
        > * {
          flex: 1;
          margin: 30px 0 0 10px;
          border: 0;
          text-align: center;
        }
      }
      // &::slotted(*) {
      //   flex: 1;
      //   border: 0;
      //   text-align: center;
      // }
      &.vertical {
        display: block;
        > * {
          margin-top: 10px;
          &:first-child {
            margin-top: 30px;
          }
        }
      }
    }
    &__anc {
      display: inline-block;
      margin-top: 16px;
      text-align: center;
    }
  }
}
